server {
    listen 80;
    server_name 127.0.0.1; # Или твой внешний IP / домен

    # Логи
    access_log /var/log/nginx/biostatistics_access.log;
    error_log /var/log/nginx/biostatistics_error.log;

    # Статика и Медиа
    location /static/ {
        alias ${USER_HOME}/Документы/projects/biostatistics/biostatistics_backend/static/;
    }

    location /media/ {
        alias ${USER_HOME}/Документы/projects/biostatistics/biostatistics_backend/media/;
    }

    # Прокси на Gunicorn / Uvicorn
    location / {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
